.no-scroll{
    overflow-y: hidden ;
}

.moble-nav {
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 9;
    width: 300px;
    height: 100%;
    padding: 40px 40px;
    background: #4a11a4;
}

.mobile-nav--open{
    right: 0px;
}
.moble-nav__list {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    color: #9182ff;
    
}
.moble-nav__link-active {
    color: #fff;
}

.moble-nav__link:hover{
    color: #fff;
}
