.nav-button{
    display: none;
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 999;

}
    
.nav-btn__icon {
    position: absolute;
    top: 46%;
    left: 30%;
    right: 18px;
    height: 4px;
    background: white;
  }
  
  .nav-btn__icon::before,
  .nav-btn__icon::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
    transition:all 0.2s ease-in;
  }
  
  .nav-btn__icon::before {
    top: -13px;
  }
  
  .nav-btn__icon::after {
    bottom: -13px;
  }

  .nav-btn__icon-active{
    background: 0;
    transition: all 0.2s ease-in;
  }

  .nav-btn__icon-active::after{
    bottom:0;
    transform: rotate(45deg);

  }
  .nav-btn__icon-active::before{
    top:0;
    transform: rotate(-45deg);
  }

  .nav-btn__icon-active::before,::after{
    transition: 0.3s ease-in;
  }